:root {
	--field-color: #F8F8F8;
	--highlight-color: #FFF;
	--select-color: #AAA;
	--border-line: 1px solid #CCC;
	--background-color-almost-white: #faf6f6;
	--background-image-url: url("riamu.png");
}

html {
	color: hsl(0, 0%, 20%);
	background-color: #FEFEFE;
	font-size: 12pt;
	font-family: sans-serif;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	/* padding: 0; */
	
	background-color: var(--background-color-almost-white);
	background-image: var(--background-image-url);
	background-repeat: no-repeat;
	background-position: bottom left;
}

main {
	min-width: 20rem;
	margin: 3em 1ch;
	padding: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	background-color: #FEFEFEBB;
}

p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

h1 {
	font-size: 4rem;
	margin: 0.5ex auto 0;
}
#explanation {
	margin-top: 0;
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

#header {
	margin: 2rem auto;
}

#header * {
	text-align: center;
	margin: 0;
}

.payload-msg {
	margin: 3rem 1rem 1rem;
	padding: 1rem;
	font-size: 1.4rem;
	text-align: center;
}

.payload-msg a {
	text-decoration: none;
}

.error-msg {
	background-color: #FFB9B9;
	color: #111;
	border-radius: 0.5rem;
}

/* Custom styles */

.btn {
	display: block;
	margin: 1ex 1ch;
	padding: 1ex 1ch;
	border: var(--border-line);
	border-radius: 0.5ex;
	box-shadow:
		0 2px 0 rgba(34,34,34,.1), /* darken bottom */
		inset 0 2px 0 rgba(255, 255, 255, .3) /* lighten top */;
	font-size: 1.1em;
	text-align: center;
}

.btn:hover {
	background-color: var(--highlight-color);
}

.btn:active {
	background-color: var(--select-color);
	box-shadow: none;
}

.btn-ctn {
	display: flex;
}

/* The upload form */

#upload-form {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 1rem;
	padding: 0.5rem;
	min-width: 20rem;
	align-items: center;
}

#upload-form input,button {
	background-color: var(--field-color);
}

#upload-btn {
	margin: 1.5em auto 2em;
}

#upload-it {
	font-size: 1.2em;
	margin: 0 auto 1rem;
	line-height: 1.7em;
	transition: background-color ease-out .4s; /* the event trigger delay makes it look like an ease-in-out */
	border-radius: 1ex;
}

#file-form {
	display: flex;
	flex-direction: column;
	margin: 0.5ex auto;
	padding: 1ex 5ch;
}

#file-input {
	border-radius: 0.5ex;
	padding: 2px;
	padding-right: 1ch;
	border: var(--border-line);
}

#file-input.invalid-file {
	box-shadow: 0 0 1.5px 1px red;
}

#drag-drop-info {
	display: inline-block;
	font-size: 0.7em;
	align-self: flex-end;
}

.file-dragover {
	background-color: #e884a944;
}

/* Upload options */

#upload-options {
	display: table; /* Fit box to contents */
}

#extra-options {
	margin-top: 0;
	margin-bottom: 0.2em;
}

#extra-options + p {
	display: inline-block;
	margin-top: 0;
	padding-left: 4ch;
	line-height: 1.8em;
}

#name-input {
	padding: 0.5ex 0.5ch;
	border-radius: 0.25ex;
	border: none;
	border: var(--border-line);
}

#name-input:focus {
	box-shadow: inset 1px 1px 0 var(--select-color), inset -1px -1px 0 var(--select-color);
	border-color: var(--select-color);
}

.gen-line {
	color: hsla(0, 0%, 5%, .2);
	font-size: x-small;
}

/* Upload successful */

#copy-link-btn {
	margin: 1em auto;
	margin-bottom: 0;
	font-size: 0.7rem;
}

#copied-placeholder {
	display: inline-block;
	font-size: 0.9rem;
	min-height: 2ex;
	color: green;
}

.animation-copied {
	animation: 0.3s linear 0.3s forwards fade;
}

@keyframes fade {
	from {
		opacity: 1; 
	}
  
	to {
		opacity: 0;
	}
}

/* Utility classes */

.center-text {
	text-align: center;
}

.no-click {
	pointer-events: none;
}

.not-a-link {
	color: inherit;
	text-decoration: inherit;
}

.hidden {
	display: none;
}

.animation-paused {
	animation-play-state: paused;
}